<ion-app>
  <ion-split-pane contentId="main-content">
    <!-- ################ MENU ################# -->
    <ion-menu contentId="main-content" type="overlay">
      <div class="headerMenu">
        <!-- <img class="imgMenu" src="https://cdn.pixabay.com/photo/2018/03/27/14/37/design-3266151_1280.png" alt=""> -->
        <img class="imgMenu" src="https://i.ibb.co/vHzbgnY/bg.png" alt="">
        
        <div style="margin-top:-50px; margin-left:10px; color:white; font-size: 2em; font-weight: bold; font-family: Georgia, serif;">Menu</div>
      </div>
      <div class="bodyMenu">
        <ion-content>
            <ion-list style="color:white">
              <ion-menu-toggle auto-hide="false" >
                <ion-item  *ngFor="let p of appPages" [routerDirection]="'root'" [routerLink]="[p.url]"> 
                    <ion-icon slot="start" [name]="p.icon"></ion-icon>
                    <ion-label>
                      {{p.title}}
                    </ion-label>
                    <ion-icon *ngIf="p.active" slot="end" name="play" style="transform: rotate(-180deg);"></ion-icon>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
        </ion-content>
      </div>

      <ion-footer>
        <ion-toolbar color="tertiary">
          <ion-title></ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="logout" routerLink="/exit">
              <ion-icon name="exit" style="font-size:1.5em; transform:rotate(-180deg) "></ion-icon>
            </ion-button>
          </ion-buttons>
          <p slot="end" style="margin-right:10px; font-size: 11px; font-weight: bold;">AdminHouse V1.0.0 Stable</p>

        </ion-toolbar>
      </ion-footer>

    </ion-menu>

    
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
