<div style="margin-top: 10px">
    <table class="table-huggi">
        <tr>
            <td width="70%" class="table-content">

                <div class="td-content">
                        <h3>Huggias Thomas</h3>
                        <h4>Total: {{usuarios[0].total }} //  Dar: {{usuarios[0].dar }} //  Recibir: {{usuarios[0].recibir }} </h4>
                        {{
                            usuarios[0].progressBar
                        }}
                        <mat-progress-bar
                            [color]="primary"
                            [mode]="determinate"
                            [value]="this.usuarios[0].porcentaje"
                            [bufferValue]="75">
                        </mat-progress-bar>
                </div>

            </td>
            <td width="30%" rowspan="3">
                <div class="td-content-total">
                    <div class="total-container">
                        <span><h2>Total</h2><hr></span>
                        <!-- <br> -->
                        <h1><span>{{ valorTotal }}</span> $</h1>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="table-content">

                <div class="td-content">
                    <h3>Huggias Sofia</h3>
                    <h4>Total: {{usuarios[1].total }} //  Dar: {{usuarios[1].dar }} //  Recibir: {{usuarios[1].recibir }} </h4>
                    <mat-progress-bar
                        [color]="primary"
                        [mode]="determinate"
                        [value]="this.usuarios[1].porcentaje"
                        [bufferValue]="75">
                    </mat-progress-bar>
            </div>

            </td>
        </tr>
        <tr>
            <td class="table-content">
                
                <div class="td-content">
                    <h3>Braian Aranda</h3>
                    <h4>Total: {{usuarios[2].total }} //  Dar: {{usuarios[2].dar }} //  Recibir: {{usuarios[2].recibir }} </h4>
                    <mat-progress-bar
                        [color]="primary"
                        [mode]="determinate"
                        [value]="this.usuarios[2].porcentaje"
                        [bufferValue]="75">
                    </mat-progress-bar>
            </div>

            </td>
        </tr>
    </table>
</div>