<ion-tabs>
  <ion-tab-bar slot="bottom" color="tertiary">

    <ion-tab-button tab="gcomidas">
      <ion-icon ios="ios-clock" md="md-clock"></ion-icon>
      <ion-label>Hoy</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dcomidas">
      <ion-icon ios="ios-list-box" md="md-list-box"></ion-icon>
      <ion-label>Dias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dmenu">
      <ion-icon ios="ios-list" md="md-list"></ion-icon>
      <ion-label>Menus</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cmenu">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
      <ion-label>Agregar menu</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>