.fondo{
    width: 100%; 
    height: 100%; 
    background-color: #f4f4f4;
    position: fixed;
}
.card{
    background-color:white;
}
#resetTareas{
    margin: 0 auto;
    margin-top:5px;
    width: 94%;
    height: 10%;
}