<div class="indexAppParent">
    <app-interfaz></app-interfaz>
    <div class="indexApp">
        <div class="container">

            <mat-tab-group>
                <mat-tab label="General"> <app-info-compras *ngIf="this.compras != undefined" [valorTotal]="this.valorTotal" [usuarios]="this.usuarios"></app-info-compras> </mat-tab>
                <mat-tab label="Detalles"> <app-tabla *ngIf="this.compras != undefined" [aCompras]="this.compras"></app-tabla> </mat-tab>
                <mat-tab label="Agregar compra"> 
                    <div class="contAC">
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Precio</mat-label>
                                <input matInput placeholder="Precio total de la compra" [(ngModel)]="nuevaCompra.precio">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Descripcion</mat-label>
                                <input matInput placeholder="Descripcion de la compra" [(ngModel)]="nuevaCompra.descripcion">
                            </mat-form-field>
                        </p>
                        <button mat-raised-button color="primary" (click)="agregarCompra()">Agregar</button>
                    </div>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>
</div>