<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="gtareas">
      <ion-icon ios="ios-apps" md="md-apps"></ion-icon>
      <ion-label>Mis tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dtareas">
      <ion-icon ios="ios-list" md="md-list"></ion-icon>
      <ion-label>Todas las tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ctarea">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
      <ion-label>Nueva tarea</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>