<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1">
        <ion-icon ios="ios-apps" md="md-apps"></ion-icon>
        <!-- <ion-label>Home</ion-label> -->
      </ion-tab-button>

      <ion-tab-button tab="tab2">
            <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
        <!-- <ion-label>Feed</ion-label> -->
      </ion-tab-button>

      <ion-tab-button tab="tab3">
            <ion-icon name="add-circle-outline"></ion-icon>
        <!-- <ion-label>Settings</ion-label> -->
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
</ion-content>
