/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.indexAppParent{
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url("./images/bg.jpg"); 
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    position: fixed;
    
}
.indexApp{
    width: 80%;
    height: 85%;
    background-color: white;
    z-index: 3;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 300px;
    border-top-right-radius: 25%;
    overflow: hidden;
    /* padding-left: 10%; */
}

.container{
    /* background-color: blue; */
    width: 65%;
    height: 100%;
    position: fixed;
    margin-left: 5%;
    margin-top: 5%;
    padding: 3%;
    overflow-y: scroll;

}