<ion-tabs>
  <ion-tab-bar slot="bottom">

    <!-- <ion-tab-button tab="gcompras">
      <ion-icon ios="ios-apps" md="md-apps"></ion-icon>
      <ion-label>Lista</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="glista-compras">
      <ion-icon ios="ios-list" md="md-list"></ion-icon>
      <ion-label>Lista</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clista-compras">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
      <ion-label>Nueva</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>